<section>
  <nav class="header-nav float-right">
    <% if user_can_chive? %>
      <%= link_to "New Article", new_article_path, class: 'btn btn-outline-primary' %>
    <% end %>
  </nav>

  <% @articles.each do |article| %>
    <article>
      <h2 class="large"><%= link_to article.title, article_path(article) %></h2>
      <address>by <%= article.byline %> on <%= article.published_at %></address>
      <p>
    		<%= raw article.summary %>
		    <%= link_to 'Read More', article_path(article) %>
	    </p>
    </article>
  <% end %>
  <div class="digg_pagination">
    <%= will_paginate @articles, page_links: false, previous_label: '« Newer', next_label: 'Older »' %>
  </div>
</section>
