<% if user_can_chive? %>
  <div class="row mb-4">
    <nav class="col text-right">
      <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-outline-primary' %>
      <%= render partial: 'delete_modal' %>
    </nav>
  </div>
<% end %>

<section>
  <article>
    <div class="row">
      <% if @article.image.attached? %>
        <div class="col-auto">
          <%= image_tag @article.image.variant(resize: '400x300') %>
        </div>
      <% end %>
      <div class="col-md">
        <h1><%= @article.title %></h1>
        <address>by <%= @article.byline %> on <%= @article.published_at %></address>
        <p>
          <small><%= @article.tag_list.to_s %></small>
        </p>
        <%= render 'status', article: @article %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= raw @article.body %>
      </div>
    </div>
  </article>
</section>

<nav>
  <%= link_to 'More Articles', articles_path %>
</nav>
